* {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	box-sizing: border-box;
}

:root {
	--primarty-color: #26364e;
	--secondary-color: #92cccd;
	--third-color: #455876;
	--forth-color: #31343d;
}

body {
	margin: 0 auto;

	max-width: 1473px;
}

h3 {
	text-align: right;
	color: var(--primarty-color);
	font-size: 3vw;
	border-right: 4px solid var(--primarty-color);
	padding-right: 7px;
	margin-right: 5px;
}

@media screen and (min-width: 1400px) {
	h3 {
		font-size: 36px;
	}
}

.sidebar {
	width: 12vw;
	margin-top: 10px;
}

.content {
	margin: 10px auto 0 auto;
	max-width: 80%;
}

.about-me,
.work,
.contact-me {
	display: flex;
}

/* Nav Styling */
nav {
	background-color: var(--primarty-color);
}

nav ul li a {
	margin: 0 5px;
	padding: 5px 0px;
	color: var(--secondary-color);
	text-decoration: none;
	border-bottom: 3px solid var(--secondary-color);
	transition: color 0.25s;
}

/* Hero Styling */
.hero {
	background-image: url(./Images/pexels-matt-hardy-3560168.jpg);
	background-size: cover;
	width: 100vw;
	height: 200px;
	position: relative;
	max-width: 1473px;
}

.subtitle {
	position: absolute;
	bottom: 10px;
	right: 50px;
	padding: 5px 10px;
	background-color: var(--secondary-color);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.hero h2 {
	display: inline;
	margin-left: 0.5em;
}

.subtitle img {
	height: 3em;
	border-radius: 50%;
}

/* About Me Styling */

#about-me-p {
	margin-bottom: 1rem;
}
.icons img {
	margin: 0.25rem 0.75rem;
}

/* Work Styling */

.btn {
	background-color: var(--primarty-color);
	color: white;
}

.card-space {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-img-top {
	height: 10rem;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: start;
	height: auto;
}

/* Contact Me Styling */

.contact-me {
	margin-bottom: 25px;
}

.contact-me-container {
	width: 83%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin: auto;
}

.contact-me-container > * {
	font-size: 20px;
	color: var(--primarty-color);
	text-decoration: none;
	border-bottom: 4px solid var(--primarty-color);
}

.contact-me-container > *:hover {
	border-bottom: 4px solid var(--secondary-color);
}

@media screen and (max-width: 643px) {
	/* Header MQ */
	header {
		flex-direction: column;
		height: 130px;
	}

	h1 {
		padding-inline: 0px;
		text-align: center;
		margin: 0px 0px 10px 0;
		width: 100vw;
	}

	h3 {
		border-right: none;
		border-bottom: 4px solid var(--primarty-color);
		text-align: center;
		margin-bottom: 3px;
		margin-right: 0px;
		padding-right: 0px;
		width: 100vw;
		font-size: 5vw;
	}

	.about-me,
	.work,
	.contact-me {
		flex-direction: column;
		align-items: flex-start;
	}

	header nav ul {
		flex-direction: column;
		width: 100vw;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		list-style: none;
		margin-right: 0px;
	}

	nav ul li a {
		margin: 0 0px;
		padding: 0px 0px;
		color: var(--secondary-color);
		border-bottom: none;
	}

	/* HERO MQ */

	.hero {
		height: 100px;
	}

	.subtitle {
		position: initial;
		width: 100vw;
		padding: 5px;
		background-color: var(--secondary-color);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.hero h2 {
		display: inline;
		margin-left: 0;
	}

	.subtitle img {
		height: 4em;
		border-radius: 50%;
	}

	/* WORK MQ */
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		align-content: start;
		height: auto;
	}

	.work-reg,
	.larger-work {
		height: 18%;
		min-height: 125px;
		width: 60vw;
	}

	h4 {
		position: absolute;
		bottom: 18px;
		right: 0px;
		font-size: 1rem;
		background-color: var(--primarty-color);
		color: #92cccd;
		padding: 10px 5px 10px 15px;
	}

	/* CONTACT MQ */

	.contact-me-container {
		flex-direction: column;
		align-items: center;
	}

	.contact-me-container p,
	.contact-me-container a {
		margin-bottom: 7px;
	}
}
